@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');

* {
  box-sizing: border-box;
}

/*colors
Zelené
tmavá #0C3932
střední #1A4E45
světlá #94B1AC
nejsvětlejší #CAD8D6

červená #4E1A23
        #632E37
*/

html {
  background-color: #cad8d6;
}
body {
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Montserrat', 'Arial', sans-serif;
  line-height: 1.5;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  background-color: #0c3932;
  padding: 0 30px;
}
.logo {
  height: 10rem;
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav li {
  text-decoration: none;
  list-style-type: none;
}
.main-nav__link {
  text-decoration: none;
  color: #ffffff;
  padding: 2rem 1rem;
  font-size: 150%;
  display: block;
}
h1 {
  font-size: 200%;
}

button {
  padding: 15px 45px;
  font-size: large;
  text-transform: uppercase;
  border: 5px solid #0c3932;
  border-radius: 5px;
  background-color: #632e37;
  color: #ffffff;
}
main {
  padding: 30px;
}

/*html {}*/
