@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

/*colors
Zelené
tmavá #0C3932
střední #1A4E45
světlá #94B1AC
nejsvětlejší #CAD8D6

červená #4E1A23
       světlá častější #632E37
       854E58

kurziva nadpis??? Great Vibes
       */

html {
  background-color: #cad8d6;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', 'Arial', sans-serif;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
  padding: 0;
  font-size: 75%;
}

main {
  padding: 15px;
}

h1 {
  font-size: 150%;
  margin: 0;
  padding: 1rem 0;
  color: #4e1a23;
  text-align: center;
}

h2,
h3 {
  color: #0c3932;
  text-align: center;
}

button,
.home-enter {
  width: 60vw;
  margin-right: 20vw;
  margin-left: 20vw;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 100%;
  text-transform: uppercase;
  border: 1px solid #94b1ac;
  border-radius: 5px;
  /* background-color: #1a4e45;*/
  background: linear-gradient(45deg, #4e1a23, #0c3932);
  color: #ffffff;
  box-shadow: 2px 2px 5px #1a4e45;
}

.button__small,
.button__contact-and-map {
  width: 60%;
  margin: auto;
}
button:hover {
  background: linear-gradient(45deg, #632e37, #1a4e45);
  box-shadow: inset 1px 1px 0 0 #cad8d6;
}

a {
  text-decoration: none;
  display: block;
}

.button__back {
  width: 35vw;
  border: 1px solid #0c3932;
  background: linear-gradient(45deg, #cad8d6, #94b1ac);
  color: #0c3932;
  margin: 0;
}
.button__back:hover {
  background: linear-gradient(45deg, #94b1ac, #1a4e45);
  box-shadow: inset 1px 1px 0 0 #cad8d6;
}

.button__forward {
  width: 35vw;

  margin: 0;
}

.buttons-row__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.object-no-display {
  display: none;
}

/* Hvězdičky ve formulářích*/

.valid {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #0c3932;
}

.valid span {
  align-self: center;
  font-size: 90%;
  font-style: italic;
}
.home-enter {
  width: 50vw;
}

.print {
  height: 2rem;
  width: 2rem;
}

.buttons-row__print {
  text-align: right;
}
@media (min-width: 540px) {
  body {
    background-color: #ffffff;

    line-height: 1.5;
  }

  main {
    margin: 30px;
  }
  button {
    width: 30%;
    padding: 1rem;
    font-size: 100%;
  }
  button:hover {
    width: 30%;
  }
  .button__small {
    width: 30vw;
  }

  .button__small:hover {
    width: 30vw;
  }
  .button__small {
    width: 60%;
  }

  .button__small:hover {
    width: 10vw;
  }
}

@media (min-width: 970px) {
  body {
    margin: 0 auto;
    max-width: 980px;
  }
  h1 {
    font-size: 200%;
    margin: 0;
    padding: 1rem 0;
  }
  main {
    max-width: 1040px;
  }
}
