.card {
  padding: 30px;
  margin: 30px 0;
  border-radius: 0 50px 50px 50px;
  border: 3px solid #0c3932;
  box-shadow: 2px 2px 5px #0c3932;
  position: relative;
}
.card-title__large {
  display: none;
}
.container__photo {
  width: 100%;
  padding: 0;
  border-radius: 5px;
  display: block;
}

.container__left-side {
  flex: 0 0 50%;
}
.container__right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 50%;
}

.container__right-side h2 {
  padding-top: 0;
  margin-top: 0;
}
.container__button {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

/*
.dot {
  position: absolute;
  top: -35px;
  left: -32px;
  width: 6rem;
}
*/

@media (min-width: 970px) {
  .container {
    display: flex;
    align-content: stretch;
  }
  .card-title__mobile {
    display: none;
  }
  .container__right-side button {
    align-self: flex-end;
  }
  .container__button {
    width: 20vw;
    margin-right: 0;
    margin-left: auto;
  }
  .container__button:hover {
    width: 20vw;
  }
  .card-title__large {
    display: block;
    text-align: left;
  }
  .container__right-side {
    padding: 30px;
  }
}
