.form-map {
  display: flex;
  flex-direction: column;
  width: 90vw;
  padding: 30px;
  margin: 30px;
  border-radius: 0 50px 50px 50px;
  border: 5px solid #0c3932;
  box-shadow: 2px 2px 5px #0c3932;
}

label {
  padding: 0.5rem 0;
}

.form-map__comment {
  display: flex;
  flex-direction: column;
  width: 56vw;
}
