.form-costs,
.annuity__input {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 10%;
}

.form-costs__minimum {
  color: #632e37;
  font-size: 200%;
  padding-left: 1rem;
}

.annuity__input {
  display: flex;
  flex-direction: column;
}

.annuity__plan {
  align-items: center;
}
.annuity__input input,
.form-costs input,
.form-costs select {
  margin-left: 1rem;
}

.form-costs__container-minimum {
  display: flex;
  align-items: center;
}

@media (min-width: 540px) {
  .annuity__plan {
    align-self: flex-end;
  }
}
