.conteiner__img {
  display: flex;
  margin: 30px;
}

.conteiner__img img {
  width: 25%;
}

.home-container {
  display: flex;
  margin: 30px;
}
.home-container__card-in img {
  width: 50%;
}

.home-container__card {
  width: 32%;
  padding: 15px;
  margin-right: 1vw;
  border-radius: 0 50px 50px 50px;
  border: 5px solid #0c3932;
  box-shadow: 2px 2px 5px #0c3932;
  text-align: center;
}

.dot__home {
  width: 2rem;
  text-align: left;
}
