.contact__photo {
  height: auto;
  padding: 0 3vw;
  border-radius: 5px;
}

.container__contact {
  display: flex;
  align-content: stretch;
}

.card__contact {
  padding: 3rem;
  margin: 20px 0;
  border-radius: 0 50px 50px 50px;
  border: 5px solid #0c3932;
  box-shadow: 2px 2px 5px #0c3932;
}

.contact__left-side {
  flex: 0 0 50%;
}
.contact__right-side {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
}

.contact__right-side h2 {
  padding-top: 0;
  margin-top: 0;
}

.contact__right-side button {
  align-self: flex-end;
}
