* {
  box-sizing: border-box;
}

.id {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

span.question {
  font-weight: bold;
  justify-content: space-between;

  padding: 5px;
  margin: 10px;
}

span.answer {
  flex-direction: row;

  margin: 10px;
}
img.answer__img {
  width: 10vw;
  align-items: flex-end;
  overflow: auto;
}
