.banner {
  background-image: url(./img/bannerMobil.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 15px;
}

.banner__h h1 {
  padding-bottom: 0;
  max-width: 70%;
  font-size: 200%;
  font-family: 'Roboto', 'Montserrat', sans-serif;
}

.banner__h p {
  padding-left: 1rem;
}
.banner p {
  font-size: 75%;
  max-width: 60%;
}

.banner__h {
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.banner__p {
  display: none;
}

.banner__button p {
  margin-right: 1rem;
  margin-top: 0;
  width: 60%;
}

.banner__button button {
  width: 30vw;

  margin-right: 40vw;
  margin-left: 30vw;
}
.home-h {
  color: #4e1a23;
}

@media (min-width: 540px) {
  header {
    max-width: 1200px;
  }

  .banner__h h1 {
    max-width: 70%;
    font-size: 350%;
  }
  .banner p {
    display: block;
    font-size: 125%;
    max-width: 60%;
  }
  .banner__button button {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;

    padding: 1rem;
    font-size: 100%;
    text-transform: uppercase;
    border: 1px solid #94b1ac;
    border-radius: 5px;
    background-color: #1a4e45;
    color: #ffffff;
  }
  .banner__button button:hover {
    background-color: #0c3932;
    box-shadow: inset 1px 1px 0 0 #cad8d6;
  }
}

@media (min-width: 970px) {
  .banner__p {
    display: inline-block;
  }
  header {
    max-width: 1200px;
  }
  .banner {
    background-image: url(img/banner.jpg);
    background-size: contain;
    padding: 0 auto;
  }
  .banner__h h1 {
    max-width: 70%;
    font-size: 350%;
  }
  .banner p {
    font-size: 125%;
    max-width: 60%;
  }
}
